    @model IEnumerable<CctvStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catalog.CatalogName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlProductImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Catalog.CatalogName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlProductImage)
        </td>
        <td>
            @Html.ActionLink("Download Files", "Index", "ProductDownloads", new { ProductId = item.ProductId }, null ) |
            @Html.ActionLink("Specification", "ProductList", "_Admin", new { ProductId = item.ProductId }, null) |
            @Html.ActionLink("Accessories", "Index", "Accessories", new { ProductId = item.ProductId }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
    @*<tr class="well">
        <td class="col-md-4">@Html.ActionLink("Download", "Create", "Products", new { id = item.ProductId })</td>
        <td class="col-md-4">@Html.ActionLink("Specification", "SpecificationIndex", "_CctvStore", new { ids = item.ProductId }, null)</td>
        <td class="col-md-4">@Html.ActionLink("Accessories", "AccessoriesIndex", "_CctvStore", new { idd = item.ProductId }, null)</td>
    </tr>*@
}

</table>
